.DayPartingWrapper {
    width: 730px;
    margin: 0 auto;
    background-color: #ECEFF4;
    border: .5px solid #DBDBDC;
}
.DayPartingWrapper__Header {
    padding: 10px;
}
.DayPartingWrapper__Title {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}
.DayPartingWrapper__Content {
    display: inline-block;
}
.DayParting {
	margin-top: 20px;
    padding: 0px 10px;
}
.ActionDayBlockWrapper {
    padding: 10px 10px;
}
.ActionDayBlockWrapper--Header {
    margin-bottom: -36px;
}
.ActionDayBlockWrapper__Header {

}
.ActionDayBlockWrapper__type {
    display: inline-block;
    text-align: center;
}
.ActionDayBlock--Header {
    font-size: 10px;
    text-align: center;
    top: 2px;
    position: relative;
}
.ActionDayBlock {
    width: 24px;
    background-color:#E8ECF0;
    height: 25px;
    border: .5pt solid #D8D8D8;
    display: inline-block;
    cursor: pointer;
}
.ActionDayBlock.isClicked {
    background: linear-gradient(#6279ae, #5870a8);
    background-color: #cbd3db;
    /*border: .5px solid #6f859b;*/
}
.DayType {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.DayRow {
    margin-bottom: -6px;
}
.Day {
    display: inline-block;
}
.DayBlock {
	width: 24px;
    background-color:#E8ECF0;
    height: 35px;
    /*margin: 0.5px;*/
    display: inline-block;
    /*border-radius: 3px;*/
    cursor: pointer;
    border: .5pt solid #D8D8D8;
}
.DayBlock.isClicked {
	background: linear-gradient(#6279ae, #5870a8);
    background-color: #cbd3db;
    /*border: .5px solid #6f859b;*/
}