.main {
  padding: 0 10px;
  border: 1px solid #E8ECF0;
  position: relative;
}
.selectable-selectbox {
  z-index: 9000;
  position: absolute;
  cursor: default;
  background: none;
  border: 1px dashed grey;
}
.item {
  background-color:#E8ECF0;
  position: relative;
  width: 24px;
  height: 35px;
  /*margin: 2px;*/
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
.item .tick {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 10px;
  color: #009688;
  font-weight: bold;
  cursor: pointer;
}
.item h2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-weight: 600;
}
.item.selected {
  background: linear-gradient(#6279ae, #5870a8);
  background-color: #cbd3db;
  color: white;
}
.item.selecting {
  border: 1px solid #6279ae;
}
.not-selectable {
  display: inline-block;
  color: #4285f4;
}
.counter {
  color: #009688;
}
.selectable-button {
  display: inline-block;
  margin: 3px;
}
.in-selection-mode .item {
  cursor: pointer;
}
